:root {
  --twitter-blue: rgb(22, 33, 43);
  --twitter-light-blue: rgb(61, 155, 240);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, 'Helvetica Neue',BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--twitter-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  width: 75vw;
  color: white;
}

header {
  text-align: center;
  width: 100%;
  padding: 2rem;
  border-bottom: 1px solid white;
}

.headerSubtitle {
  opacity: 0.8;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  width: 50%;
  margin: 0 auto;
}

.show {
  display: inline-block;
}

.hide {
  display: none;
}
